@model QuizApp.ViewModels.FillInTheBlankViewModel
@{
    var prefix = ViewData["prefix"]?.ToString() ?? "";
}

<div class="col">
    <div class="mt-2">
        <span>
            <h3 class="text-start">Question @Model.QuestionId</h3>
            <a asp-action="Edit" asp-route-id="@Model.QuestionId" class="btn btn-secondary">Edit</a>
            <a asp-action="Delete" asp-route-id="@Model.QuestionId" class="btn btn-danger">Delete</a>
        </span>
        <p>@Model.Question</p>

        <div class="form-group">
            <input type="hidden" name="@($"{prefix}.Id")" value="@Model.QuestionId" />
            <input type="hidden" name="@($"{prefix}.Question")" value="@Model.Question" />

            <label for="@($"{prefix}.UserAnswer")">Your Answer:</label>
            <input type="text" name="@($"{prefix}.UserAnswer")" value="@Model.UserAnswer" class="form-control mb-2" />
            @if (Model.IsAnswerCorrect.HasValue) 
            {
                <div class="mt-3 alert @(Model.IsAnswerCorrect.Value ? "alert-success" : "alert-danger")">
                    @(Model.IsAnswerCorrect.Value ? "Correct!" : $"Wrong. The correct answer was '{@Model.CorrectAnswer}'")
                </div>
            }
        </div>
    </div>
</div>