@model QuizApp.Models.Matching

@{
    var pairQuestions = Model.SplitQuestion();
}
<div class="container">
    <form asp-controller="Matching" asp-action="SubmitMatchingQuestion" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <table class="table table-bordered" style="width: 400px;">
            @foreach (var pair in pairQuestions){
                <tr class="text-center align-items-center justify-content-center">
                    <td>
                        <label>@pair.Key</label>
                        <input type="hidden" name="keys" value="@pair.Key" />
                    </td>
                    <td>
                        <select class="form-select" name="values">
                            <option value="@pair.Value">@pair.Value</option>
                            @foreach(var value in pairQuestions){
                                if (value.Value != pair.Key && value.Value != pair.Value){
                                    <option value="@value.Value">@value.Value</option>
                                }
                            }
                        </select>
                    
                    </td>
                </tr>
            }
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>