@model FlashCardQuiz

<h1>Add, change or remove questions</h1>

<h3>Name: @Model.Name</h3>
<h4>Description: @Model.Description</h4>

<div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
    <div class="container">
        <table class="table table-striped" style="max-width: 1200px;">
            <tr class="table-header">
                <th>Question no.</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Actions</th>
            </tr>
            @foreach(var flashCard in Model.FlashCards!)
            {
                <tr>
                    <td>@flashCard.QuizQuestionNum</td>
                    <td>@flashCard.Question</td>
                    <td>@flashCard.Answer</td>
                    <td>
                        <a asp-controller="FlashCard" asp-action="Edit" asp-route-id="@flashCard.FlashCardId">Edit</a>
                        <a asp-controller="FlashCard" asp-action="Delete" asp-route-id="@flashCard.FlashCardId">Delete</a>
                    </td>
                </tr>
            }
        </table>
        <a asp-controller="FlashCard" asp-action="Create" asp-route-quizId="@Model.FlashCardQuizId" asp-route-numOfQuestions="@Model.NumOfQuestions" class="btn btn-primary mt-1">Add question</a>
    </div>
</div>

<p>Se på muligheten for å ha flash card i en liste og få plasseringen derfra i stedet for hard-kodet</p>
<p>Vil kanskje gjøre det lettere å bytte plass på dem</p>
<p>Vil også automatisk sortere dem</p>