@model QuizApp.ViewModels.FlashCardsViewModel

<h1>Flash Cards</h1>
@if (Model.FlashCards.Any()) {
    <div class="row row-cols-1-1 g-4">
    <partial name="_FlashCard" model="@Model.FlashCards.ElementAt(Model.CurrentFlashCardNum)" />

    <!-- The following is a c# workaround. -->
    <!-- React will make this a lot easier -->

    <!-- Form for revealing the answer of the flash card  -->
    <!-- Sends a new version of the model to the controller  -->
    <form asp-action="RevealFlashCardAnswer" method="post">
        <input type="hidden" name="CurrentFlashCardNum" value="@Model.CurrentFlashCardNum" />

        <!-- Loops over all the flashcards and adds them and their attributes to the model to be sent back to the controller -->
        <!-- Importantly keeps the state of the model so ShowAnswer remembers if it's true or false-->
        @foreach (var card in Model.FlashCards.Select((c, index) => (c, index)))
        {
            <input type="hidden" name="FlashCards[@card.index].FlashCardId" value="@card.c.FlashCardId" />
            <input type="hidden" name="FlashCards[@card.index].Question" value="@card.c.Question" />
            <input type="hidden" name="FlashCards[@card.index].Answer" value="@card.c.Answer" />
            <input type="hidden" name="FlashCards[@card.index].ShowAnswer" value="@card.c.ShowAnswer.ToString().ToLower()" />
        }

        <!-- Cannot currently hide answer. Will be fixed in React -->
        <button type="submit" class="btn btn-primary">@(Model.FlashCards.ElementAt(Model.CurrentFlashCardNum).ShowAnswer ? "Hide Answer" : "Show Answer")</button>
    </form>

    <!-- Form for moving to the next flash card -->
    <!-- Sends a new version of the model to the controller  -->
    <form asp-action="FlashCards" method="post">
        <input type="hidden" name="CurrentFlashCardNum" value="@Model.CurrentFlashCardNum" />

        <!-- Loops over all the flashcards and adds them and their attributes to the model to be send back to the controller -->
        <!-- Keeps the state of the model -->
        @foreach (var card in Model.FlashCards.Select((c, index) => (c, index)))
        {
            <input type="hidden" name="FlashCards[@card.index].FlashCardId" value="@card.c.FlashCardId" />
            <input type="hidden" name="FlashCards[@card.index].Question" value="@card.c.Question" />
            <input type="hidden" name="FlashCards[@card.index].Answer" value="@card.c.Answer" />
            <input type="hidden" name="FlashCards[@card.index].ShowAnswer" value="@card.c.ShowAnswer.ToString().ToLower()" />
        }
        <button type="submit" class="btn btn-primary">Next Card</button>
    </form>
    <a asp-controller="FlashCardQuiz" asp-action="Quizzes" class="btn btn-secondary">Exit</a>
    </div>
} else {
    <h3>There are no questions in this quiz</h3>
}
