@model QuizApp.ViewModels.FlashCardsViewModel

<h1>Flash Cards</h1>

<div class="row row-cols-1-1 g-4">
    <partial name="_FlashCard" model="@Model.FlashCards.ElementAt(Model.CurrentFlashCardNum)" />

    <!-- The following is a c# workaround. -->
    <!-- React will make this a lot easier -->

    <!-- Form for revealing the answer of the flash card  -->
    <!-- Sends a new version of the model to the controller  -->
    <form asp-action="RevealFlashCardAnswer" method="post">
        <input type="hidden" name="CurrentFlashCardNum" value="@Model.CurrentFlashCardNum" />

        <!-- Loops over all the flashcards and adds them and their attributes to the model to be sent back to the controller -->
        @{
            int revealIndex = 0;
        }
        @foreach (var card in Model.FlashCards)
        {
            <input type="hidden" name="FlashCards[@(revealIndex)].FlashCardId" value="@card.FlashCardId" />
            <input type="hidden" name="FlashCards[@(revealIndex)].Question" value="@card.Question" />
            <input type="hidden" name="FlashCards[@(revealIndex)].Answer" value="@card.Answer" />
            <input type="hidden" name="FlashCards[@(revealIndex)].ShowAnswer" value="@card.ShowAnswer" />
            revealIndex++;
        }

        <!-- Cannot currently hide answer. Will be fixed in React -->
        <button type="submit" class="btn btn-primary">@(Model.FlashCards.ElementAt(Model.CurrentFlashCardNum).ShowAnswer ? "Hide Answer" : "Show Answer")</button>
    </form>

    <!-- Form for moving to the next flash card -->
    <!-- Sends a new version of the model to the controller  -->
    <form asp-action="FlashCards" method="post">
        <input type="hidden" name="CurrentFlashCardNum" value="@Model.CurrentFlashCardNum" />

        <!-- Loops over all the flashcards and adds them and their attributes to the model to be send back to the controller -->
        @{
            int nextIndex = 0;
        }
        @foreach (var card in Model.FlashCards)
        {
            <input type="hidden" name="FlashCards[@(nextIndex)].FlashCardId" value="@card.FlashCardId" />
            <input type="hidden" name="FlashCards[@(nextIndex)].Question" value="@card.Question" />
            <input type="hidden" name="FlashCards[@(nextIndex)].Answer" value="@card.Answer" />
            <input type="hidden" name="FlashCards[@(nextIndex)].ShowAnswer" value="@card.ShowAnswer" />
            nextIndex++;
        }
        <button type="submit" class="btn btn-primary">Next Card</button>
    </form>
</div>