@using QuizApp.ViewModels
@model QuizApp.ViewModels.QuizViewModel

<h1>@Model.QuizName</h1>

<div class="d-flex justify-content-center mt-5">
    <div class="w-75">
        @{
            var question = Model.QuestionViewModels.ElementAt(Model.CurrentQuestionNum) as FillInTheBlankViewModel;
            var questionNum = question!.QuizQuestionNum;
            var lastQuestion = questionNum == Model.NumOfQuestions;
        }
        <h3 class="mb-4">Question @questionNum</h3>
        <h5 class="text-start">@question.Question</h5>

        <form asp-controller="FillInTheBlank" asp-action="SubmitQuestion" method="post">
            <input type="hidden" name="quizId" value="@Model.QuizId" />
            <input type="hidden" name="quizAttemptId" value="@Model.QuizAttemptId" />
            <input type="hidden" name="quizQuestionNum" value="@Model.CurrentQuestionNum" />
            <input type="hidden" name="numOfQuestions" value="@Model.NumOfQuestions" />
            <input type="hidden" name="quizQuestionId" value="@question.FillInTheBlankId"/>
            <label>Your answer:</label>
            <input type="text"
                class="form-control mb-2 w-25"
                name="userAnswer"
                value="@question.UserAnswer" />

            <button type="submit" class="btn btn-primary">
                @(lastQuestion ? "Submit quiz" : "Next")
            </button>
        </form>
    </div>
</div>