@using QuizApp.ViewModels
@model QuizApp.ViewModels.QuizViewModel

@{
    var matchingModel = Model.QuestionViewModels.ElementAt(Model.CurrentQuestionNum) as MatchingViewModel;
    if (matchingModel == null)
    {
        <div class="alert alert-danger" role="alert">
            An error occurred: The question could not be loaded. Please try again!
        </div>
        return; // Stopper videre rendering av viewet
    }
    //MÅ LEGGE TIL HVA SOM SKJER VED matchingModel = null
    //var pairQuestions = Model.Question.SplitQuestion();
    //var matching = Model.Questions.ElementAt(Model.CurrentQuizNum);
}

<div class="container w-400">
    <h3>@matchingModel.QuestionText</h3>
    <hr>
<div class="container">
    <form asp-controller="Matching" asp-action="SubmitMatchingQuestion" method="post">
        <input type="hidden" name="id" value="@matchingModel.Id" />
        <input type="hidden" name="quizId" value="@Model.QuizId" />
        <input type="hidden" name="quizAttemptId" value="@Model.QuizAttemptId" />
        <input type="hidden" name="quizQuestionNum" value="@Model.CurrentQuestionNum" />
        <input type="hidden" name="numOfQuestions" value="@Model.NumOfQuestions" />
        <table class="table table-bordered" style="width: 400px;">
            @for (int i = 0; i < matchingModel.Keys.Count; i++){
                <tr class="text-center align-items-center justify-content-center">
                    <td>
                        <label>@matchingModel.Keys[i]</label>
                        <input type="hidden" name="keys" value="@matchingModel.Keys[i]" />
                    </td>
                    <td>
                        <select class="form-select" name="values">
                            <option value="@matchingModel.Values[i]">@matchingModel.Values[i]</option>
                            @for(int j = 0; j < matchingModel.Values.Count; j++){
                                if (matchingModel.Values[j] != matchingModel.Keys[i] && matchingModel.Values[j] != matchingModel.Values[i]){
                                    <option value="@matchingModel.Values[j]">@matchingModel.Values[j]</option>
                                }
                            }
                        </select>
                    
                    </td>
                </tr>
            }
        </table>
        <br>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>
</div>
</div>