@model Quiz

<h3>Name: @Model.Name</h3>
<h4>Description: @Model.Description</h4>

<div class="border rounded p-3" style="background-color: rgb(230, 230, 230)">
    <div class="container pt-2">
        <div class="row p-2">
            <div class="col-1">
                <h5>No.</h5>
            </div>
            <div class="col-5">
                <h5>Question</h5>
            </div>
            <div class="col-4">
                <h5>Answer</h5>
            </div>
        </div>

        @if(Model.NumOfQuestions == 0) {
            <h5>The quiz contains no questions</h5>
        } else {
            @foreach(var question in Model.AllQuestions) 
            {
                if (question is FillInTheBlank fib) {
                    <partial name="../FillInTheBlank/_ManageQuizCard" model="fib" />
                }
                if (question is TrueFalse tf) {
                    <partial name="../TrueFalse/_ManageQuizCard" model="tf" />
                }
                if (question is MultipleChoice mc) {
                    <partial name="../MultipleChoice/_ManageQuizCard" model="mc" />
                }            
                if (question is Matching m) {
                    <partial name="../Matching/_ManageQuizCard" model="m" />
                }
                if (question is Ranking r) {
                    <partial name="../Ranking/_ManageQuizCard" model="r" />
                }
                if (question is Sequence sq) {
                    <partial name="../Sequence/_ManageQuizCard" model="sq" />
                }
            }
        }

        <div class="border rounded p-3" style="background-color: rgb(230, 230, 230)">
        <div class="container pt-2">
            <!-- Existing question display code omitted for brevity -->

            <form asp-action="RedirectToCreate" asp-controller="Quiz" method="post">
                <select class="form-select mt-3" name="questionType" required>
                    <option value="">--Pick a question type--</option>
                    <option value="FillInTheBlank">Fill in the blank question</option>
                    <option value="TrueFalse">True/false question</option>
                    <option value="MultipleChoice">Multiple choice question</option>
                    <option value="Matching">Matching question</option>
                    <option value="Ranking">Ranking question</option>
                    <option value="Sequence">Sequence question</option>
                </select>

                <input type="hidden" name="quizId" value="@Model.QuizId" />
                <input type="hidden" name="numOfQuestions" value="@Model.NumOfQuestions" />

                <button type="submit" class="btn btn-primary mt-2">Add question</button>
            </form>

            <a asp-controller="Quiz" asp-action="Edit" asp-route-quizId="@Model.QuizId" class="btn btn-secondary mt-2">
                Edit quiz
            </a>
        </div>
    </div>
</div>